<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1> CALCULATOR  </h1>
<h3>POST REQUEST </h3>
<form action="http://localhost:5000/result" method="post">
    <label for="numberx">First Number</label><br>
    <input type="number"name="numberx" required><br><br>
    <label for="numbery">Second Number</label><br>
    <input type="number" name="numbery" required><br><br>
    <input type="submit" value="Submit">
  </form>
  <br><br>
  <h3>QUERY STRİNG WİTH GET REQUEST </h3>
  <form action="http://localhost:5000/result" method="get">
    <label for="numberx">First Number</label><br>
    <input type="number"name="numberx" required><br><br>
    <label for="numbery">Second Number</label><br>
    <input type="number" name="numbery" required><br><br>
    <input type="submit" value="Submit">
  </form>
  <h3>PARAMS WİTH GET REQUEST </h3>
  <form action="http://localhost:5000/delete3" method="get">
    <label for="numberx">ID QUERY</label><br>
    <input type="number"name="numberx" required><br><br>
    <input type="submit" value="Submit">
  </form> 
  
</body>
</html>



